html,
body,
fieldset,
h3 {
    margin: 0px;
    padding: 0px;
}

body {
    overflow-x:hidden;
    overflow-y:scroll;
    background: none repeat scroll 0 0 #000;
    margin:50px 100px;
}

body.home {
    margin:100px 100px;
}

body,
p {
    color: #CCC;
}

body,
p,
select,
input,
textarea {
    font: 1em Helvetica, arial, sans-serif;
}

#logout input[type=submit], #upmock input[type=submit] {
    display:inline;
    padding: 5px;
    margin-top: 0;
}

form { display: inline; }
h1 {
    font-family: 'Dancing Script', cursive;
    font-size: 64px;
    font-weight: normal;
    margin: 0 0 20px 0;
}
h2 {
    font-weight: normal;
    margin-top: 0px;
}
h3 {
    font-weight: normal;
    margin-bottom: 20px;
    font-size: 16px;
}
a {
    color: #FFF;
    text-decoration: none;
}

a:hover {
    color:#EEE;
}
p {
    line-height: 22px;
}

#content p {
    width: 400px;
}

#content label {
    margin-top: 15px;
    display: block;
}
#user_panel {
    background: #222;
    border:1px solid #666;
}

#login_wrapper {
    padding: 20px;
    width: 259px;
    float:left;
}
input[type=text], input[type=password] {
    display: block;
    padding: 10px;
    margin-bottom: 20px;
    border: 3px solid #444;
    background: #EEE;
    font-size: 14px;
    width: 200px;
}

input[type=submit] {
    display: block;
    padding: 10px;
    background: #444;
    color:white;
    text-shadow:1px 1px 1px #000;
    border: 2px solid #222;
    border-radius: 5px;
    font-size: 14px;
}

#register {
    display: block;
    margin-top: 30px;
}

.warning {
    background: red;
    color: white;
    padding:10px;
}

.subtext {
    font-family: verdana;
    color: #999;
    font-size: 12px;
}

header { position: relative; }

#user {
    position: absolute;
    top: 50px;
    right: 0;
    float: right;
}

h1 a {
    text-decoration: none;
}

#login .warning {
    position: absolute;
    bottom:-60px;
    left:3px;
}

footer {
    border-top: 1px solid #222;
    padding-top: 10px;
    color: #666;
    margin-top: 20px;
}