<!DOCTYPE html>
<html lang="en">
  <head>

    <meta charset="utf-8" />

    <title>UpMock</title>
    <link href="http://fonts.googleapis.com/css?family=Dancing+Script" rel="stylesheet">
    <link rel="stylesheet" href="/style/main.css">

  </head>

  <body class="{{bodyClass}}">

    <header>
      <div id="user"></div>
      <h1><a href="/">UpMock</a></h1>
    </header>

    <div id="content">
      {{{content}}}
    </div>

  </body>

  <script type="text/html" id="logged_out_tpl">
    <h3>Already have an account?</h3>
    <form action="#login" id="login">
      <input type="text" name="username" placeholder="username" />
      <input type="password" name="password" placeholder="password" />
      <input type="submit" value="Login" />
    </form>
  </script>

  <script type="text/html" id="logged_in_tpl">
    <div>
      Welcome <a id="homelink" href="/user/{{user_id}}/"></a>
      <form action="#logout" id="logout">
        <input type="submit" value="Logout" />
      </form>
    </div>
  </script>

  <script src="/upmock-client/js/libs/jquery-1.7.1.min.js"></script>
  <script src="/upmock-client/js/libs/handlebars-1.0.0.beta.4.js"></script>
  <script src="/upmock-client/js/libs/underscore-min.js"></script>
  <script src="/upmock-client/js/libs/trail/trail.js"></script>

  <script src="/js/jquery.couch.js"></script>
  <script src="/js/upmock.server.js"></script>

<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-59760-19']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>

</html>
