<!DOCTYPE html>
<html lang="en">
  <head>

    <meta charset="utf-8" />

    <title>upmock</title>
    <link rel="stylesheet" href="/style/main.css">

  </head>

  <body>

    <header>
      <div id="user">
        Welcome <a href="/user/{{name}}/">{{user_id}}</a>
        <form action="#logout">
          <input type="submit" value="Logout" />
        </form>
      </div>
      <h1><a href="/">UpMock (beta)</a></h1>
    </header>

    <div id="content">
      <h4>Your Mockups</h4>
      <ul>
        {{#saved.rows}}
        <li><a href="/user/{{../user_id}}/{{this.id}}/">{{this.id}}</a></li>
        {{/saved.rows}}
      </ul>

      <h4>Create New upMock</h4>
      <form action="#create" id="create_upmock">
        <input type="text" name="name" placeholder="Name" />
        <input type="submit" value="Create" />
      </form>
    </div>

  </body>

 <script type="text/html" id="logged_out_tpl">
    <form action="#login" id="login">
      <input type="text" name="username" placeholder="username" /><br />
      <input type="password" name="password" placeholder="password" />
      <input type="submit" value="Login" />
    </form>
  </script>

  <script type="text/html" id="logged_in_tpl">
    <div>
      Welcome <a id="homelink" href="/user/{{user_id}}/"></a>
      <form action="#logout">
        <input type="submit" value="Logout" />
      </form>
    </div>
  </script>


  <script src="/upmock-client/js/libs/jquery-1.7.1.min.js"></script>
  <script src="/upmock-client/js/libs/handlebars-1.0.0.beta.4.js"></script>
  <script src="/upmock-client/js/libs/underscore-min.js"></script>
  <script src="/upmock-client/js/libs/trail/trail.js"></script>

  <script src="/js/jquery.couch.js"></script>
  <script src="/js/upmock.server.js"></script>

</html>
